html {
    background-color: #783a04;
    margin: 0;
    padding: 0;
}

/*Footers y Headers*/

.header {
    background-color: #765f02;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer {
    background-color: #2b1802;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.headerSize {
    font-size: 15em;
}

.footerSize {
    font-size: 10em;
}

/*FUENTES ESPECIALES:*/

.fontRomanNormal {
    font-family: romanAntique, serif;
}

.fontRomanItalic {
    font-family: romanAntiqueItalic, serif;
}

.fontWarisOver {
    font-family: WarisOver, serif; /*Esta fuente requiere que el texto en MAYUS*/
}

.fontPressStyleLarge {
    font-family: PressStyleLarge, serif;
}

@font-face {
    font-family: romanAntique;
    src: url('fonts/RomanAntique.ttf') format('truetype');
}

@font-face {
    font-family: WarisOver;
    src: url('fonts/WarisOver.ttf') format('truetype');
}

@font-face {
    font-family: romanAntiqueItalic;
    src: url('fonts/RomanAntique-Italic.ttf') format('truetype');
}

@font-face {
    font-family: PressStyleLarge;
    src: url('fonts/PressStyleLarge.ttf') format('truetype');
}